
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,500;0,600;1,700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}


/* nav section style starts */

nav{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
   
}

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    align-items: center;

    
}
.logo a{
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: #3C354F;

    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.menu a{
    text-decoration: none;
}

.menu-btn{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}
.youtube-icon{
    padding-right: 5px;
    color: red;
}
.logo-name{
    font-family: Work Sans;
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700
}
/* ! nav section style ends */
/*main section style starts*/

/*first section style starts */


/* first section style ends*/

/*main section style ends */