
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,500;0,600;1,700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}


/* nav section style starts */

nav{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
   
}

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    align-items: center;

    
}
.logo a{
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: #3C354F;

    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.menu a{
    text-decoration: none;
}

.menu-btn{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}
.youtube-icon{
    padding-right: 5px;
    color: red;
}
.logo-name{
    font-family: Work Sans;
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700
}
/* ! nav section style ends */
/*main section style starts*/

/*first section style starts */
#first-section{
    width: 90%;
    margin: auto;
}
.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.first-description h3{
    color: #0B0223;

text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
text-transform: uppercase;
}
.first-description h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color:#F948B2;
}
.icon-with-text p{
    color: #534C64;

    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-top: 10px;
}

.icon-t{
    margin-left: 5px;
    margin-right: 5px;
}
.buttons{
    padding-top: 20px;
}
.btn-1, .btn-2{
    padding: 20px 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 40%;
    color: white;
    cursor: pointer;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
.btn-1{
    background-color: #F948B2;
    margin-right: 10px;
}
.btn-2{
    background-color: #4EC5F7;
}
/* first section style ends*/

/*second section style starts */

/* second section style ends */

/* third section style starts */

#third-section{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.third-sec-description{

    text-align: center;
    margin-bottom: 40px;
    
}
.third-sec-description h2{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
}
.color-description{
    color: #F948B2;
}
.third-sec-description p{
    color: #534C64;

text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin-top: 10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.cards1, .cards2, .cards3, .cards4 p{
    color: #534C64;

    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    
}

/* third section style ends */


/* fourth section style starts */

#fourth-section{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.fourth-section{
    display: flex;
    justify-content: space-between;
    

    
}

.fourth-section-description h1{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.fourth-section-description p{
    color: #534C64;

    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}
.color-texts{
    color: #F948B2;
}
.position-img{
    position: relative;
    top: -320px;
    left: -80px;
}

.fourth-section-description{
    padding-top: 200px;
    margin-right: 250px;
}

/* fourth section style ends */

/* fifth section style starts */
/* fifth section style ends */

/* sixth section style starts */
#sixth-section{
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
    
}
.buttons-div-one{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding-bottom: 20px;
}

.buttons-div-two{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    
}

.buttons-div-one button{
    color: #0B0223;

    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background: none;
    border: none;
   
    
}

.buttons-div-one button{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 5px;
}
.buttons-div-two button{
    color: #0B0223;

    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background: none;
    border: none;
}
.buttons-div-two button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
 }

 .buttons-div-one button:hover{
 
    border: 2px solid #FF42A5;
    border-radius: 30%;
    background: #FFF;
    transition-delay: 0.1s;
 }
 .buttons-div-one img{
    width: 60px;
    height: 60px;
 }

 .buttons-div-two img{
    width: 60px;
    height: 60px;
 }
 .buttons-div-two button:hover{
    border: 2px solid #FF42A5;
    border-radius: 30%;
    background: #FFF;
    transition-delay: 0.1s;

 }


/* sixth section style ends */



/*main section style ends */

/*footer section style starts*/

footer{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color:  #0B0223;
    color: aliceblue;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    
}
.text-sections{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    color: #FFF;

    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.icons{
    margin-bottom: 20px;
    
}
.icons i{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    color: #FFFF;
}
.p-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
/* footer section style ends */